## **Project: Study On Panel Data Methodologies With Application To Macroeconometrics (Inflation Forecasting)**.

> ### **Title**: Merge of Dataset.


#### **Table of Contents:**
<ul>
<li><a href="#1">1. Merge of Countries Dataset.</a></li>

</ul>

**Import Library**

In [ ]:
import os
import numpy as np
import pandas as pd
import seaborn as sns 
import glob
import re


sns.set(rc={'figure.figsize': [15,5]}, font_scale=1.2);
pd.set_option('future.no_silent_downcasting', True)

<a id='1'></a>

### **Merge of Dataset:**

#### 1.1.  Meta Data Tables:
- > A. Table for `Countres` info: {'WEO_Country_Code', 'ISO', 'Country'} P_Key> 'WEO_Country_Code'.
- > B. Table for `Subject` info: {'WEO_Subject_Code', 'Subject_Descriptor', 'Subject_Notes', 'Units', 'Scale'} P_Key>'WEO_Subject_Code'.

- > C. Table for `Country_Subject_Notes` info: {'WEO_Country_Code', 'WEO_Subject_Code','Country_Series-specific_Notes','Estimates_Start_After'} P_Key>('WEO_Country_Code','WEO_Subject_Code').
- > D. Table for `Year` info: {'Years'} P_Key> 'Years'.

#### 1.2. dataset Tables:

- > E. Table for data values `WEO_Data_Countries` name Columns {'WEO_Country_Code' , 'Years' , and all Varibles 'WEO_Subject_Code' {'BCA_NGDPD', 'GGR_NGDP', 'GGSB_NPGDP', 'GGX_NGDP', 'GGXWDG_NGDP', 'LUR', 'NGDP_RPCH', 'NGSD_NGDP', 'NID_NGDP', 'PCPIPCH', 'PPPEX', 'PPPPC', 'PPPSH', 'TM_RPCH', 'TRWMA', 'TX_RPCH'} }

----------------------------------------------

#### 2.1.  Meta Data Tables:
- > A. Table for `Country_Groups` info: {'WEO_Country_Group_Code', 'Country_Group_ID', 'Country_Group_Name'} P_Key> 'WEO_Country_Group_Code'.
- > B. Table for `Groups_Subject_Notes` info: {'Weo_Country_Group_Code', 'WEO_Subject_Code', 'Country_Series-Specific_Notes', 'Estimates_Start_After'} P_Key> ('Weo_Country_Group_Code', 'Weo_Subject_Code').

- > C. Table for `Country_Classes` info: {'Weo_Country_Code', 'Country', 'Weo_Country_Group_Code', and all Varibles 'Country_Group_ID' { 'All_Advanced_41','All_Advanced_Euro_20', 'All_Advanced_G7', 'All_Developing_155','All_Developing_Asia_30', 'All_Developing_Europe_15', 'All_Developing_Latina_Caribbean_33', 'All_Developing_Meast_Casia_32', 'All_Developing_Ssafrica_45', 'All_Asean_5', 'All_Brics_20', 'All_Eur_27'}}  P_Key> 'Weo_Country_Code'.

#### 2.2. dataset Tables:

- > D. Table for data values `Country_Data_Group`name Columns : {'WEO_Country_Group_Code' , 'Years' , and all Varibles 'WEO_Subject_Code' {'BCA_NGDPD', 'GGR_NGDP', 'GGSB_NPGDP', 'GGX_NGDP', 'GGXWDG_NGDP', 'LUR', 'NGDP_RPCH', 'NGSD_NGDP', 'NID_NGDP', 'PCPIPCH', 'PPPEX', 'PPPPC', 'PPPSH', 'TM_RPCH', 'TRWMA', 'TX_RPCH'}}

**Path**

In [3]:
# Use glob to get a list of all files with the .csv extension
folder_path = "../03-Dataset/02-DataBase"
files_list = glob.glob(folder_path + "/*.csv")
files_list

['../03-Dataset/02-DataBase\\01-Countries.csv',
 '../03-Dataset/02-DataBase\\02-Subject.csv',
 '../03-Dataset/02-DataBase\\03-Country_Subject_Notes.csv',
 '../03-Dataset/02-DataBase\\04-Years.csv',
 '../03-Dataset/02-DataBase\\05.1-WEO_Data_Countries.csv',
 '../03-Dataset/02-DataBase\\05.2-WEO_Data_Countries.csv',
 '../03-Dataset/02-DataBase\\06-Country_Groups.csv',
 '../03-Dataset/02-DataBase\\07-Group_Subject_Notes.csv',
 '../03-Dataset/02-DataBase\\08.1-Country_Classes.csv',
 '../03-Dataset/02-DataBase\\08.2-Country_Classes.csv',
 '../03-Dataset/02-DataBase\\08.3-Country_Classes.csv',
 '../03-Dataset/02-DataBase\\09.1-Country_Data_Group.csv',
 '../03-Dataset/02-DataBase\\09.2-Country_Data_Group.csv',
 '../03-Dataset/02-DataBase\\10-WEO_Data.csv',
 '../03-Dataset/02-DataBase\\10-WEO_Data_DB.csv']

**Load Dataset**

In [8]:
df = pd.read_csv(folder_path+"/10-WEO_Data.csv")
display(df.head())

,WEO_Country_Code,Country,Advanced_Country,Year,BCA_NGDPD,GGR_NGDP,GGSB_NPGDP,GGXWDG_NGDP,GGX_NGDP,LUR,NGDP_RPCH,NGSD_NGDP,NID_NGDP,PCPIPCH,PPPEX,PPPPC,PPPSH,TM_RPCH,TRWMA,TX_RPCH
0,111,United States,1,1980,0.081,NaN,NaN,NaN,NaN,7.175,-0.257,22.059,23.310,13.502,1.0,12552.943,21.579,-6.664,NaN,10.778
1,111,United States,1,1981,0.157,NaN,NaN,NaN,NaN,7.617,2.537,23.206,24.277,10.378,1.0,13948.701,21.683,2.616,NaN,1.213
2,111,United States,1,1982,-0.165,NaN,NaN,NaN,NaN,9.708,-1.803,21.713,22.071,6.158,1.0,14404.994,21.185,-1.264,NaN,-7.662
3,111,United States,1,1983,-1.065,NaN,NaN,NaN,NaN,9.600,4.584,19.725,22.253,3.160,1.0,15513.679,21.607,12.609,NaN,-2.589
4,111,United States,1,1984,-2.337,NaN,NaN,NaN,NaN,7.508,7.236,21.839,25.096,4.368,1.0,17086.441,22.177,24.344,NaN,8.150

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   WEO_Country_Code  8820 non-null   int64
 1   Country           8820 non-null   object
 2   Advanced_Country  8820 non-null   int64
 3   Year              8820 non-null   int64
 4   BCA_NGDPD         7638 non-null   float64
 5   GGR_NGDP          6473 non-null   float64
 6   GGSB_NPGDP        2496 non-null   float64
 7   GGXWDG_NGDP       5751 non-null   float64
 8   GGX_NGDP          6420 non-null   float64
 9   LUR               4139 non-null   float64
 10  NGDP_RPCH         7961 non-null   float64
 11  NGSD_NGDP         6961 non-null   float64
 12  NID_NGDP          6968 non-null   float64
 13  PCPIPCH           7914 non-null   float64
 14  PPPEX             7874 non-null   float64
 15  PPPPC             7919 non-null   float64
 16  PPPSH             7853 non-null   float64
 17  TM_RPCH           6913 non-null   float64
 18  TRWMA             3664 non-null   float64
 19  TX_RPCH           6957 non-null   float64
dtypes: float64(16), int64(3), object(1)
memory usage: 1.3+ MB

In [10]:
df.describe()

,WEO_Country_Code,Advanced_Country,Year,BCA_NGDPD,GGR_NGDP,GGSB_NPGDP,GGXWDG_NGDP,GGX_NGDP,LUR,NGDP_RPCH,NGSD_NGDP,NID_NGDP,PCPIPCH,PPPEX,PPPPC,PPPSH,TM_RPCH,TRWMA,TX_RPCH
count,8820.000000,8820.000000,8820.000000,7638.000000,6473.000000,2496.000000,5751.000000,6420.000000,4139.000000,7961.000000,6961.000000,6968.000000,7914.000000,7874.000000,7919.000000,7853.000000,6913.000000,3664.000000,6957.000000
mean,551.377551,0.209184,2002.000000,-2.091833,28.722145,-2.569058,55.793672,31.501981,8.955438,3.353171,20.333998,24.006941,41.748441,199.555243,14810.694572,0.572925,5.513936,7.086408,5.667853
std,261.497587,0.406749,12.987909,13.369427,15.490119,4.438902,44.543057,19.343728,6.070979,6.184105,12.102355,10.525728,862.865903,2105.686824,18530.743423,1.870827,17.363133,10.075807,20.437718
min,111.000000,0.000000,1980.000000,-242.188000,0.036000,-25.115000,0.000000,1.822000,0.025000,-54.336000,-98.140000,-40.199000,-72.729000,0.001000,175.003000,0.001000,-82.872000,0.000000,-90.597000
25%,313.750000,0.000000,1991.000000,-6.519000,17.906000,-4.415750,29.078500,20.202750,4.944500,1.176000,13.374000,18.112500,2.032750,0.813250,2679.140500,0.019000,-1.917000,2.240000,-1.490000
50%,565.500000,0.000000,2002.000000,-2.491000,25.466000,-2.366500,46.585000,28.547000,7.475000,3.535000,20.125000,22.899000,4.631000,2.685500,7620.835000,0.072000,4.964000,5.155000,4.526000
75%,733.250000,0.000000,2013.000000,1.541500,37.203000,-0.435000,69.997500,39.348250,11.200000,5.886000,26.537000,28.158000,10.107750,44.586250,19590.490500,0.378000,11.838000,10.040000,10.971000
max,968.000000,1.000000,2024.000000,314.906000,164.054000,125.135000,600.117000,594.770000,70.000000,147.973000,120.028000,144.450000,65374.082000,116640.525000,151145.794000,22.343000,431.978000,421.500000,649.151000

In [13]:
import pandas as pd

#   df    

#    2000 
df_2000_plus = df[df["Year"] >= 2000]

#              2000
countries_complete = df_2000_plus.groupby("WEO_Country_Code").filter(lambda x: x.notnull().all(axis=None))["WEO_Country_Code"].unique()

#          (   )
df_cleaned = df[df["WEO_Country_Code"].isin(countries_complete)].copy()

In [14]:
df_cleaned

Empty DataFrame
Columns: [WEO_Country_Code, Country, Advanced_Country, Year, BCA_NGDPD, GGR_NGDP, GGSB_NPGDP, GGXWDG_NGDP, GGX_NGDP, LUR, NGDP_RPCH, NGSD_NGDP, NID_NGDP, PCPIPCH, PPPEX, PPPPC, PPPSH, TM_RPCH, TRWMA, TX_RPCH]
Index: []

# **END**