## **Project: Study On Panel Data Methodologies With Application To Macroeconometrics (Inflation Forecasting)**.

> ### **Title**: Spilt of Dataset.


#### **Table of Contents:**
<ul>
<li><a href="#1">1. Spilt of Countries Dataset.</a></li>
<li><a href="#2">2. Spilt of Groups Dataset.</a></li>

</ul>

**Import Library**

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns 
import glob
import re


sns.set(rc={'figure.figsize': [15,5]}, font_scale=1.2);
pd.set_option('future.no_silent_downcasting', True)

**Path**

In [ ]:
# Path load data
folder_path= "../02-Dataset/01-DataSet/dataset_Org"

# Path Save data
folder_save_path = "../02-Dataset/02-DataBase"

<a id='1'></a>

### **1. Spilt of Countries Dataset:**
#### 1.1.  Meta Data Tables:
- > A. Table for `Countres` info: {'WEO_Country_Code', 'ISO', 'Country'} P_Key> 'WEO_Country_Code'.
- > B. Table for `Subject` info: {'WEO_Subject_Code', 'Subject_Descriptor', 'Subject_Notes', 'Units', 'Scale'} P_Key>'WEO_Subject_Code'.
- > C. Table for `Country_Subject_Notes` info: {'WEO_Country_Code', 'WEO_Subject_Code','Country_Series-specific_Notes','Estimates_Start_After'} P_Key>('WEO_Country_Code','WEO_Subject_Code').
- > D. Table for `Year` info: {'Years'} P_Key> 'Years'.

#### 1.2. dataset Tables:

- > E. Table for data values `WEO_Data_Countries` name Columns {'WEO_Country_Code' , 'Years' , and all Varibles 'WEO_Subject_Code' {'BCA_NGDPD', 'GGR_NGDP', 'GGSB_NPGDP', 'GGX_NGDP', 'GGXWDG_NGDP', 'LUR', 'NGDP_RPCH', 'NGSD_NGDP', 'NID_NGDP', 'PCPIPCH', 'PPPEX', 'PPPPC', 'PPPSH', 'TM_RPCH', 'TRWMA', 'TX_RPCH'} }

**Load Dataset**

In [5]:
df_all = pd.read_csv(folder_path+"/../00-WEO_Data_Country_Merged.csv")
df_all.head()

,WEO_Country_Code,ISO,Country,WEO_Subject_Code,Subject_Descriptor,Subject_Notes,Units,Scale,Country_Series-Specific_Notes,1980,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Estimates_Start_After
0,512,AFG,Afghanistan,NGDP_RPCH,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,"See notes for: Gross domestic product, consta...",NaN,...,2.164,2.647,1.189,3.912,-2.351,-14.542,-6.240,2.711,NaN,2024
1,914,ALB,Albania,NGDP_RPCH,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,"See notes for: Gross domestic product, consta...",2.684,...,3.315,3.802,4.019,2.088,-3.302,8.909,4.856,3.451,3.251,2022
2,612,DZA,Algeria,NGDP_RPCH,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,"See notes for: Gross domestic product, consta...",-5.400,...,3.884,1.524,1.440,0.933,-5.017,3.805,3.616,4.100,3.849,2023
3,171,AND,Andorra,NGDP_RPCH,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,"See notes for: Gross domestic product, consta...",NaN,...,3.710,0.346,1.589,2.016,-11.184,8.287,9.565,1.445,1.400,2023
4,614,AGO,Angola,NGDP_RPCH,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,"See notes for: Gross domestic product, consta...",2.406,...,-1.700,-0.140,-0.590,-0.200,-4.040,2.100,4.220,1.010,2.413,2022

In [6]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   WEO_Country_Code               3120 non-null   int64
 1   ISO                            3120 non-null   object
 2   Country                        3120 non-null   object
 3   WEO_Subject_Code               3120 non-null   object
 4   Subject_Descriptor             3120 non-null   object
 5   Subject_Notes                  3120 non-null   object
 6   Units                          3120 non-null   object
 7   Scale                          3120 non-null   object
 8   Country_Series-Specific_Notes  3116 non-null   object
 9   1980                           1384 non-null   float64
 10  1981                           1433 non-null   float64
 11  1982                           1447 non-null   float64
 12  1983                           1466 non-null   float64
 13  1984                           1474 non-null   float64
 14  1985                           1493 non-null   float64
 15  1986                           1510 non-null   float64
 16  1987                           1517 non-null   float64
 17  1988                           1557 non-null   float64
 18  1989                           1575 non-null   float64
 19  1990                           1718 non-null   float64
 20  1991                           1777 non-null   float64
 21  1992                           1898 non-null   float64
 22  1993                           2004 non-null   float64
 23  1994                           2032 non-null   float64
 24  1995                           2166 non-null   float64
 25  1996                           2236 non-null   float64
 26  1997                           2295 non-null   float64
 27  1998                           2340 non-null   float64
 28  1999                           2387 non-null   float64
 29  2000                           2536 non-null   float64
 30  2001                           2626 non-null   float64
 31  2002                           2663 non-null   float64
 32  2003                           2660 non-null   float64
 33  2004                           2679 non-null   float64
 34  2005                           2701 non-null   float64
 35  2006                           2720 non-null   float64
 36  2007                           2721 non-null   float64
 37  2008                           2724 non-null   float64
 38  2009                           2726 non-null   float64
 39  2010                           2737 non-null   float64
 40  2011                           2736 non-null   float64
 41  2012                           2737 non-null   float64
 42  2013                           2743 non-null   float64
 43  2014                           2737 non-null   float64
 44  2015                           2768 non-null   float64
 45  2016                           2758 non-null   float64
 46  2017                           2743 non-null   float64
 47  2018                           2746 non-null   float64
 48  2019                           2750 non-null   float64
 49  2020                           2756 non-null   float64
 50  2021                           2751 non-null   float64
 51  2022                           2737 non-null   float64
 52  2023                           2583 non-null   float64
 53  2024                           2538 non-null   float64
 54  Estimates_Start_After          3120 non-null   int64
dtypes: float64(45), int64(2), object(8)
memory usage: 1.3+ MB

> **A. Table for `Countres` info: {'WEO_Country_Code', 'ISO', 'Country'} P_Key> 'WEO_Country_Code'.**

In [7]:
# Print unique value counts for the first three columns
for col in df_all.columns[:3]:
    print(f"{col}: {df_all[col].nunique()}")

WEO_Country_Code: 195
ISO: 200
Country: 195

In [8]:
# Update 'ISO' with the most frequent 'Iso' for each 'WEO_Country_Code'
df_all['ISO'] = df_all['WEO_Country_Code'].map(df_all.groupby('WEO_Country_Code')['ISO'].agg(lambda x: x.value_counts().idxmax()).to_dict())

# Create a dataframe with unique combinations of 'WEO_Country_Code', 'Iso', and 'Country'
df_countries = df_all.iloc[:,:3].drop_duplicates()

# Display dataframe info
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   WEO_Country_Code  195 non-null    int64
 1   ISO               195 non-null    object
 2   Country           195 non-null    object
dtypes: int64(1), object(2)
memory usage: 6.1+ KB

In [9]:
df_countries.to_csv(folder_save_path+"/01-Countries.csv",index=False)

> **B. Table for `Subject` info: {'WEO_Subject_Code', 'Subject_Descriptor', 'Subject_Notes', 'Units', 'Scale'} P_Key>'WEO_Subject_Code'.**

In [10]:
# Print unique value counts for the first three columns
for col in df_all.columns[3:8]:
    print(f"{col}: {df_all[col].nunique()}")

WEO_Subject_Code: 16
Subject_Descriptor: 16
Subject_Notes: 16
Units: 7
Scale: 1

In [11]:
# Create a dataframe with unique combinations of 'Weo_Subject_Code', 'Subject_Descriptor', 'Subject_Notes', 'Units',and 'Scale'.
df_subject = df_all.iloc[:,3:8].drop_duplicates()

# Display dataframe info
df_subject.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 0 to 2925
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   WEO_Subject_Code    16 non-null     object
 1   Subject_Descriptor  16 non-null     object
 2   Subject_Notes       16 non-null     object
 3   Units               16 non-null     object
 4   Scale               16 non-null     object
dtypes: object(5)
memory usage: 768.0+ bytes

In [12]:
df_subject.Units.value_counts()

Units
Percent of GDP                                        6
Percent change                                        4
Percent                                               2
Purchasing power parity; international dollars        1
National currency per current international dollar    1
Percent of total labor force                          1
Percent of potential GDP                              1
Name: count, dtype: int64

In [13]:
df_subject.to_csv(folder_save_path+"/02-Subject.csv",index=False)

> **C. Table for `Country_Subject_Notes` info: {'WEO_Country_Code', 'WEO_Subject_Code','Country_Series-specific_Notes','Estimates_Start_After'} P_Key>('WEO_Country_Code','WEO_Subject_Code').**

In [14]:
# Create a dataframe with unique combinations of 'Weo_Country_Code','Weo_Subject_Code', 'Country_Series-Specific_Notes', and 'Estimates_Start_After'.
df_Country_Subject_Notes = df_all.iloc[:,[0,3,8,-1]].drop_duplicates()

# Display dataframe info
df_Country_Subject_Notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3120 entries, 0 to 3119
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   WEO_Country_Code               3120 non-null   int64
 1   WEO_Subject_Code               3120 non-null   object
 2   Country_Series-Specific_Notes  3116 non-null   object
 3   Estimates_Start_After          3120 non-null   int64
dtypes: int64(2), object(2)
memory usage: 97.6+ KB

In [15]:
df_Country_Subject_Notes.to_csv(folder_save_path+"/03-Country_Subject_Notes.csv",index=False)

> D. Table for `Year` info: {'Years'} P_Key> 'Years'.

In [17]:
# Creating a dataframe with a column of dates from 1980 to 2024
years = list(range(1980, 2025))
df_dates = pd.DataFrame(years, columns=['Year'])
df_dates.head(), df_dates.tail()

(   Year
 0  1980
 1  1981
 2  1982
 3  1983
 4  1984,
     Year
 40  2020
 41  2021
 42  2022
 43  2023
 44  2024)

In [18]:
df_dates.to_csv(folder_save_path+"/04-Years.csv",index=False)

> **E. Table for data values `WEO_Data_Countries` name Columns {'WEO_Country_Code' , 'Years' , and all Varibles 'WEO_Subject_Code' {'BCA_NGDPD', 'GGR_NGDP', 'GGSB_NPGDP', 'GGX_NGDP', 'GGXWDG_NGDP', 'LUR', 'NGDP_RPCH', 'NGSD_NGDP', 'NID_NGDP', 'PCPIPCH', 'PPPEX', 'PPPPC', 'PPPSH', 'TM_RPCH', 'TRWMA', 'TX_RPCH'} }**

In [19]:
df_long_country = df_all.melt(
    id_vars=['WEO_Country_Code', 'WEO_Subject_Code'],  # Keep these columns fixed
    value_vars=[str(y) for y in range(1980, 2025)],    # Unpivot year columns from 1980 to 2024
    var_name='Year',                                   # Name of the new column for years
    value_name='Value'                                 # Name of the new column for values
)

print(df_long_country.shape)
df_long_country.head()

(140400, 4)

   WEO_Country_Code WEO_Subject_Code  Year  Value
0               512        NGDP_RPCH  1980    NaN
1               914        NGDP_RPCH  1980  2.684
2               612        NGDP_RPCH  1980 -5.400
3               171        NGDP_RPCH  1980    NaN
4               614        NGDP_RPCH  1980  2.406

In [20]:
df_long_country.to_csv(folder_save_path+"/05.1-WEO_Data_Countries.csv",index=False)

In [21]:
df_pivot_country = df_long_country.pivot_table(
    index=['WEO_Country_Code', 'Year'],                # Set index to country code and year
    columns='WEO_Subject_Code',                        # Spread subject codes as columns
    values='Value',                                    # Fill cells with the corresponding values
    dropna=False                                       # Keep rows with all NaN values

).reset_index()                                        # Convert index to columns for DataFrame

print(df_pivot_country.shape)
df_pivot_country.head()

(8775, 18)

WEO_Subject_Code,WEO_Country_Code,Year,BCA_NGDPD,GGR_NGDP,GGSB_NPGDP,GGXWDG_NGDP,GGX_NGDP,LUR,NGDP_RPCH,NGSD_NGDP,NID_NGDP,PCPIPCH,PPPEX,PPPPC,PPPSH,TM_RPCH,TRWMA,TX_RPCH
0,111,1980,0.081,NaN,NaN,NaN,NaN,7.175,-0.257,22.059,23.310,13.502,1.0,12552.943,21.579,-6.664,NaN,10.778
1,111,1981,0.157,NaN,NaN,NaN,NaN,7.617,2.537,23.206,24.277,10.378,1.0,13948.701,21.683,2.616,NaN,1.213
2,111,1982,-0.165,NaN,NaN,NaN,NaN,9.708,-1.803,21.713,22.071,6.158,1.0,14404.994,21.185,-1.264,NaN,-7.662
3,111,1983,-1.065,NaN,NaN,NaN,NaN,9.600,4.584,19.725,22.253,3.160,1.0,15513.679,21.607,12.609,NaN,-2.589
4,111,1984,-2.337,NaN,NaN,NaN,NaN,7.508,7.236,21.839,25.096,4.368,1.0,17086.441,22.177,24.344,NaN,8.150

In [22]:
df_pivot_country.to_csv(folder_save_path+"/05.2-WEO_Data_Countries.csv",index=False)

<a id='2'></a>

### **2. Spilt of Groups Dataset:**
#### 2.1.  Meta Data Tables:
- > A. Table for `Country_Groups` info: {'WEO_Country_Group_Code', 'Country_Group_ID', 'Country_Group_Name'} P_Key> 'WEO_Country_Group_Code'.
- > B. Table for `Groups_Subject_Notes` info: {'Weo_Country_Group_Code', 'WEO_Subject_Code', 'Country_Series-Specific_Notes', 'Estimates_Start_After'} P_Key> ('Weo_Country_Group_Code', 'Weo_Subject_Code').

- > C. Table for `Country_Classes` info: {'Weo_Country_Code',`'Country'`, `'Weo_Country_Group_Code'`,and all Varibles 'Country_Group_ID' { 'All_Advanced_41','All_Advanced_Euro_20', 'All_Advanced_G7', 'All_Developing_155','All_Developing_Asia_30', 'All_Developing_Europe_15', 'All_Developing_Latina_Caribbean_33', 'All_Developing_Meast_Casia_32', 'All_Developing_Ssafrica_45', 'All_Asean_5', 'All_Brics_20', 'All_Eur_27'}}  P_Key> 'Weo_Country_Code'.

#### 2.2. dataset Tables:

- > D. Table for data values `Country_Data_Group`name Columns : {'WEO_Country_Group_Code' , 'Years' , and all Varibles 'WEO_Subject_Code' {'BCA_NGDPD', 'GGR_NGDP', 'GGSB_NPGDP', 'GGX_NGDP', 'GGXWDG_NGDP', 'LUR', 'NGDP_RPCH', 'NGSD_NGDP', 'NID_NGDP', 'PCPIPCH', 'PPPEX', 'PPPPC', 'PPPSH', 'TM_RPCH', 'TRWMA', 'TX_RPCH'}}

**Load Dataset**

In [23]:
df_gruops= pd.read_csv(folder_path+"/Group/12-WEO_Data_Group.csv")
df_classes= pd.read_csv(folder_path+"/Group/13-WEO_Group.csv")

display(df_gruops.head())
display(df_classes.head())

,WEO_Country_Group_Code,Country_Group_Id,Country_Group_Name,WEO_Subject_Code,Subject_Descriptor,Subject_Notes,Units,Scale,Country_Series-Specific_Notes,1980,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Estimates_Start_After
0,1,ALL,World,BCA_NGDPD,Current account balance,NaN,Percent of GDP,Units,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980
1,110,ALL_Advanced_41,Advanced economies,BCA_NGDPD,Current account balance,NaN,Percent of GDP,Units,NaN,-1.078,...,0.783,0.953,0.741,0.741,0.264,0.795,-0.403,0.224,0.351,2024
2,163,ALL_Advanced_Euro_20,Euro area,BCA_NGDPD,Current account balance,NaN,Percent of GDP,Units,NaN,NaN,...,2.975,3.121,2.807,2.369,1.659,2.470,-0.313,1.584,2.558,2024
3,119,ALL_Advanced_G7,Major advanced economies (G7),BCA_NGDPD,Current account balance,NaN,Percent of GDP,Units,NaN,-0.676,...,-0.168,0.051,-0.170,0.054,-0.745,-0.736,-1.998,-1.245,-1.167,2024
4,123,ALL_BRICS_20,Other advanced economies (Advanced economies e...,BCA_NGDPD,Current account balance,NaN,Percent of GDP,Units,NaN,NaN,...,4.846,4.527,4.323,4.559,5.088,6.841,6.793,6.057,6.104,2024

,WEO_Country_Code,ISO,Country,All_Advanced_41,All_Advanced_Euro_20,All_Advanced_G7,All_Developing_155,All_Developing_Asia_30,All_Developing_Europe_15,All_Developing_Latina_Caribbean_33,All_Developing_Meast_Casia_32,All_Developing_Ssafrica_45,All_Asean_5,All_Brics_20,All_Eur_27
0,512,AFG,Afghanistan,0,0,0,1,0,0,0,1,0,0,0,0
1,914,ALB,Albania,0,0,0,1,0,1,0,0,0,0,0,0
2,612,DZA,Algeria,0,0,0,1,0,0,0,1,0,0,1,0
3,171,AND,Andorra,1,0,0,0,0,0,0,0,0,0,0,0
4,614,AGO,Angola,0,0,0,1,0,0,0,0,1,0,0,0

> **A. Table for `Country_Groups` info: {'WEO_Country_Group_Code', 'Country_Group_ID', 'Country_Group_Name' } P_Key> 'WEO_Country_Group_Code'.**

In [24]:
# Print unique value counts for the first three columns
for col in df_gruops.columns[:3]:
    print(f"{col}: {df_gruops[col].nunique()}")

WEO_Country_Group_Code: 13
Country_Group_Id: 13
Country_Group_Name: 13

In [25]:
# Create a dataframe with unique combinations of 'WEO_Country_Group_Code', 'Country_Group_ID', and 'Country_Group_Name'.
df_Country_group = df_gruops.iloc[:,:3].drop_duplicates()

# Display dataframe info
df_Country_group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   WEO_Country_Group_Code  13 non-null     int64
 1   Country_Group_Id        13 non-null     object
 2   Country_Group_Name      13 non-null     object
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes

In [26]:
df_Country_group.to_csv(folder_save_path+"/06-Country_Groups.csv",index=False)

> **B. Table for `Groups_Subject_Notes` info: {'Weo_Country_Group_Code', 'WEO_Subject_Code', 'Country_Series-Specific_Notes', 'Estimates_Start_After'} P_Key> ('Weo_Country_Group_Code', 'Weo_Subject_Code').**

In [27]:
# Print unique value counts for the first three columns
for col in df_gruops.columns[np.r_[0,3,8, -1]]:
    print(f"{col}: {df_gruops[col].nunique()}")

WEO_Country_Group_Code: 13
WEO_Subject_Code: 14
Country_Series-Specific_Notes: 0
Estimates_Start_After: 2

In [28]:
# Create a dataframe with unique combinations of 'Weo_Country_Group_Code', 'Weo_Subject_Code', 'Country_Series-Specific_Notes', and 'Estimates_Start_After'.

df_group_Subject_Notes = df_gruops.iloc[:,np.r_[0,3,8, -1]].drop_duplicates()

# Display dataframe info
df_group_Subject_Notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   WEO_Country_Group_Code         182 non-null    int64
 1   WEO_Subject_Code               182 non-null    object
 2   Country_Series-Specific_Notes  0 non-null      float64
 3   Estimates_Start_After          182 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 5.8+ KB

In [29]:
df_group_Subject_Notes.to_csv(folder_save_path+"/07-Group_Subject_Notes.csv",index=False)

> **C. Table for `Country_Classes` info: {'Weo_Country_Code', `'Country'`, `'Weo_Country_Group_Code'`, and all Varibles 'Country_Group_ID' { 'All_Advanced_41','All_Advanced_Euro_20', 'All_Advanced_G7', 'All_Developing_155','All_Developing_Asia_30', 'All_Developing_Europe_15', 'All_Developing_Latina_Caribbean_33', 'All_Developing_Meast_Casia_32', 'All_Developing_Ssafrica_45', 'All_Asean_5', 'All_Brics_20', 'All_Eur_27'}}  P_Key> 'Weo_Country_Code'.**

In [30]:
df_classes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   WEO_Country_Code                    195 non-null    int64
 1   ISO                                 195 non-null    object
 2   Country                             195 non-null    object
 3   All_Advanced_41                     195 non-null    int64
 4   All_Advanced_Euro_20                195 non-null    int64
 5   All_Advanced_G7                     195 non-null    int64
 6   All_Developing_155                  195 non-null    int64
 7   All_Developing_Asia_30              195 non-null    int64
 8   All_Developing_Europe_15            195 non-null    int64
 9   All_Developing_Latina_Caribbean_33  195 non-null    int64
 10  All_Developing_Meast_Casia_32       195 non-null    int64
 11  All_Developing_Ssafrica_45          195 non-null    int64
 12  All_Asean_5                         195 non-null    int64
 13  All_Brics_20                        195 non-null    int64
 14  All_Eur_27                          195 non-null    int64
dtypes: int64(13), object(2)
memory usage: 23.0+ KB

In [31]:
# Print unique value counts for the first three columns
for col in df_classes.columns[np.r_[0, 2:15]]:
    print(f"{col}: {df_classes[col].nunique()}")

WEO_Country_Code: 195
Country: 195
All_Advanced_41: 2
All_Advanced_Euro_20: 2
All_Advanced_G7: 2
All_Developing_155: 2
All_Developing_Asia_30: 2
All_Developing_Europe_15: 2
All_Developing_Latina_Caribbean_33: 2
All_Developing_Meast_Casia_32: 2
All_Developing_Ssafrica_45: 2
All_Asean_5: 2
All_Brics_20: 2
All_Eur_27: 2

In [32]:

# Create a dataframe with unique combinations of 'Weo_Country_Group_Code', 'Weo_Subject_Code', 'Subject_Descriptor', and 'Estimates_Start_After'.
df_country_classes = df_classes.iloc[:,np.r_[0,2:15]].drop_duplicates()

# Display dataframe info
df_country_classes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   WEO_Country_Code                    195 non-null    int64
 1   Country                             195 non-null    object
 2   All_Advanced_41                     195 non-null    int64
 3   All_Advanced_Euro_20                195 non-null    int64
 4   All_Advanced_G7                     195 non-null    int64
 5   All_Developing_155                  195 non-null    int64
 6   All_Developing_Asia_30              195 non-null    int64
 7   All_Developing_Europe_15            195 non-null    int64
 8   All_Developing_Latina_Caribbean_33  195 non-null    int64
 9   All_Developing_Meast_Casia_32       195 non-null    int64
 10  All_Developing_Ssafrica_45          195 non-null    int64
 11  All_Asean_5                         195 non-null    int64
 12  All_Brics_20                        195 non-null    int64
 13  All_Eur_27                          195 non-null    int64
dtypes: int64(13), object(1)
memory usage: 21.5+ KB

In [33]:
df_country_classes.to_csv(folder_save_path+"/08.3-Country_Classes.csv",index=False)

In [34]:
df_long_classes = df_country_classes.melt(
    id_vars=['WEO_Country_Code','Country'],   # keep only the country code column fixed
    var_name='Country_Group_Id',               # name of the new column for the original wide-column names
    value_name='Value'              # name of the new column for the values
)

print(df_long_classes.shape)
df_long_classes.head()

(2340, 4)

   WEO_Country_Code      Country Country_Group_Id  Value
0               512  Afghanistan  All_Advanced_41      0
1               914      Albania  All_Advanced_41      0
2               612      Algeria  All_Advanced_41      0
3               171      Andorra  All_Advanced_41      1
4               614       Angola  All_Advanced_41      0

In [35]:
df_gruops['Country_Group_Id'] = df_gruops['Country_Group_Id'].astype(str).str.strip().str.lower()
df_long_classes['Country_Group_Id'] = df_long_classes['Country_Group_Id'].astype(str).str.strip().str.lower()

In [36]:
group_mapping = df_gruops.set_index('Country_Group_Id')['WEO_Country_Group_Code'].drop_duplicates()
group_mapping

Country_Group_Id
all                                     1
all_advanced_41                       110
all_advanced_euro_20                  163
all_advanced_g7                       119
all_brics_20                          123
all_eur_27                            998
all_asean_5                           510
all_developing_155                    200
all_developing_asia_30                505
all_developing_europe_15              903
all_developing_latina_caribbean_33    205
all_developing_meast_casia_32         400
all_developing_ssafrica_45            603
Name: WEO_Country_Group_Code, dtype: int64

In [37]:
df_long_classes.insert(2, 'WEO_Country_Group_Code', df_long_classes['Country_Group_Id'].map(group_mapping))
df_long_classes.head()

,WEO_Country_Code,Country,WEO_Country_Group_Code,Country_Group_Id,Value
0,512,Afghanistan,110,all_advanced_41,0
1,914,Albania,110,all_advanced_41,0
2,612,Algeria,110,all_advanced_41,0
3,171,Andorra,110,all_advanced_41,1
4,614,Angola,110,all_advanced_41,0

In [38]:
df_long_classes.to_csv(folder_save_path+"/08.2-Country_Classes.csv",index=False)

In [39]:
df_long_classesDB = df_long_classes.drop(columns=["Country","Country_Group_Id"],axis=1)
df_long_classesDB.head()

   WEO_Country_Code  WEO_Country_Group_Code  Value
0               512                     110      0
1               914                     110      0
2               612                     110      0
3               171                     110      1
4               614                     110      0

In [40]:
df_long_classesDB.to_csv(folder_save_path+"/08.1-Country_Classes.csv",index=False)

> D. **Table for data values `Country_Data_Group`name Columns : {'WEO_Country_Group_Code' , 'Years' , and all Varibles 'WEO_Subject_Code' {'BCA_NGDPD', 'GGR_NGDP', 'GGSB_NPGDP', 'GGX_NGDP', 'GGXWDG_NGDP', 'LUR', 'NGDP_RPCH', 'NGSD_NGDP', 'NID_NGDP', 'PCPIPCH', 'PPPEX', 'PPPPC', 'PPPSH', 'TM_RPCH', 'TRWMA', 'TX_RPCH'}}**

In [41]:
df_gruops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   WEO_Country_Group_Code         182 non-null    int64
 1   Country_Group_Id               182 non-null    object
 2   Country_Group_Name             182 non-null    object
 3   WEO_Subject_Code               182 non-null    object
 4   Subject_Descriptor             182 non-null    object
 5   Subject_Notes                  52 non-null     object
 6   Units                          182 non-null    object
 7   Scale                          182 non-null    object
 8   Country_Series-Specific_Notes  0 non-null      float64
 9   1980                           92 non-null     float64
 10  1981                           95 non-null     float64
 11  1982                           95 non-null     float64
 12  1983                           96 non-null     float64
 13  1984                           99 non-null     float64
 14  1985                           100 non-null    float64
 15  1986                           100 non-null    float64
 16  1987                           100 non-null    float64
 17  1988                           100 non-null    float64
 18  1989                           100 non-null    float64
 19  1990                           100 non-null    float64
 20  1991                           111 non-null    float64
 21  1992                           114 non-null    float64
 22  1993                           114 non-null    float64
 23  1994                           114 non-null    float64
 24  1995                           123 non-null    float64
 25  1996                           124 non-null    float64
 26  1997                           128 non-null    float64
 27  1998                           128 non-null    float64
 28  1999                           131 non-null    float64
 29  2000                           143 non-null    float64
 30  2001                           153 non-null    float64
 31  2002                           154 non-null    float64
 32  2003                           154 non-null    float64
 33  2004                           154 non-null    float64
 34  2005                           154 non-null    float64
 35  2006                           154 non-null    float64
 36  2007                           154 non-null    float64
 37  2008                           154 non-null    float64
 38  2009                           154 non-null    float64
 39  2010                           154 non-null    float64
 40  2011                           154 non-null    float64
 41  2012                           154 non-null    float64
 42  2013                           154 non-null    float64
 43  2014                           154 non-null    float64
 44  2015                           154 non-null    float64
 45  2016                           154 non-null    float64
 46  2017                           154 non-null    float64
 47  2018                           154 non-null    float64
 48  2019                           153 non-null    float64
 49  2020                           154 non-null    float64
 50  2021                           154 non-null    float64
 51  2022                           154 non-null    float64
 52  2023                           154 non-null    float64
 53  2024                           154 non-null    float64
 54  Estimates_Start_After          182 non-null    int64
dtypes: float64(46), int64(2), object(7)
memory usage: 78.3+ KB

In [42]:
df_long_group = df_gruops.melt(
    id_vars=['WEO_Country_Group_Code', 'WEO_Subject_Code'],  # Keep these columns fixed
    value_vars=[str(y) for y in range(1980, 2025)],    # Unpivot year columns from 1980 to 2024
    var_name='Year',                                   # Name of the new column for years
    value_name='Value'                                 # Name of the new column for values
)
print(df_long_group.shape)
df_long_group.head()

(8190, 4)

   WEO_Country_Group_Code WEO_Subject_Code  Year  Value
0                       1        BCA_NGDPD  1980    NaN
1                     110        BCA_NGDPD  1980 -1.078
2                     163        BCA_NGDPD  1980    NaN
3                     119        BCA_NGDPD  1980 -0.676
4                     123        BCA_NGDPD  1980    NaN

In [43]:
df_long_group.to_csv(folder_save_path+"/09.1-Country_Data_Group.csv",index=False)

In [44]:
df_pivot_group = df_long_group.pivot_table(
    index=['WEO_Country_Group_Code', 'Year'],                # Set index to country code and year
    columns='WEO_Subject_Code',                        # Spread subject codes as columns
    values='Value',                                   # Fill cells with the corresponding values
    dropna=False                                       # Keep rows with all NaN values

).reset_index()                                        # Convert index to columns for DataFrame

print(df_pivot_group.shape)
df_pivot_group.head()

(585, 16)

WEO_Subject_Code,WEO_Country_Group_Code,Year,BCA_NGDPD,GGR_NGDP,GGSB_NPGDP,GGXWDG_NGDP,GGX_NGDP,LUR,NGDP_RPCH,NGSD_NGDP,NID_NGDP,PCPIPCH,PPPPC,PPPSH,TM_RPCH,TX_RPCH
0,1,1980,NaN,NaN,NaN,NaN,NaN,NaN,2.228,23.746,26.601,17.282,NaN,NaN,1.530,4.708
1,1,1981,NaN,NaN,NaN,NaN,NaN,NaN,2.010,23.419,25.979,15.018,NaN,NaN,2.280,4.602
2,1,1982,NaN,NaN,NaN,NaN,NaN,NaN,0.747,22.113,24.582,14.283,NaN,NaN,-1.611,-1.495
3,1,1983,NaN,NaN,NaN,NaN,NaN,NaN,2.717,21.328,24.157,13.421,NaN,NaN,1.626,1.352
4,1,1984,NaN,NaN,NaN,NaN,NaN,NaN,4.632,22.572,25.127,13.958,NaN,NaN,8.788,8.398

In [45]:
df_pivot_group.to_csv(folder_save_path+"/09.2-Country_Data_Group.csv",index=False)

# **END**